.main {
  /* background: rgb(193, 197, 218);
  background: linear-gradient(
    173deg,
    rgba(193, 197, 218, 1) 0%,
    rgba(134, 162, 204, 1) 45%,
    rgba(46, 180, 219, 1) 100%
  ); */

  /* background: rgb(163, 169, 209);
  background: linear-gradient(
    0deg,
    rgba(163, 169, 209, 1) 0%,
    rgba(101, 167, 166, 1) 45%,
    rgba(116, 37, 189, 1) 100%
  ); */

  background: rgb(163, 169, 209);
  background: linear-gradient(
    0deg,
    rgba(163, 169, 209, 1) 0%,
    rgba(36, 199, 196, 1) 42%,
    rgba(37, 117, 189, 1) 100%
  );
}
